
.blog-container {
    /* margin: 3rem 3rem; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card-theme{
    border-radius: 0;
    border: none;
    border: black solid 2px;
    background-color: white;
    margin-block: 2rem;
}

.ant-card img {
    border-radius: 0 !important;
}

.ant-card-meta-title {
    overflow: scroll;
    white-space: normal !important;
}