/* .sh-header {
  background-color: red;
} */

.large-screen-menu {
  display: block;
  width: 50%;
  float: right;
  display: flex;
  justify-content: end;
  background-color: inherit;
}
.mobile-screen-menu {
  display: none;
}
.mobile-screen-menu-button {
  display: none;
  background: none;
  box-shadow: none;
  font-size: 32px;
  float: right;
  margin-top: 0.3rem;
  margin-right: -1.7rem;
  height: fit-content;
}

.anticon svg {
  color: #bca07c; /* color primary */
}

@media (max-width: 425px) {
  .large-screen-menu {
    display: none;
  }
  .mobile-screen-menu {
    display: block;
  }
  .mobile-screen-menu-button {
    display: block;
  }
}
